@model ProductoraCelis.Models.Carrito;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <!--link rel="stylesheet" href="~/css/Carrito.css" asp-append-version="true" /-->
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <img src="~/src/icon/franja.jpg" alt="Franja decorativa" class="franja" />
        <a class="logo">
            <img src="~/src/icon/logo.png" />
            <h1>
            @if (User.Identity!.IsAuthenticated)
            {
                <span>@User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name)?.Value</span>
            }
         </h1>  
        </a>
        <div>Carrito de Compras</div>
        <nav>
            <ul class="center-links">
                <li><a asp-area="" asp-controller="Home" asp-action="Productos">Productos</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Salir">Salir</a></li>
            </ul>
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
        </nav>
    </header>

    <table class="tabla_clientes">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DetallesCarrito)
            {
                <tr>
                    <td>@item.Producto.Nombre</td>
                    <td>@item.PrecioUnitario.ToString("C")</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Subtotal.ToString("C")</td>
                    <td>
                        <a asp-action="EliminarDelCarrito" asp-route-id="@item.IdProducto">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <strong>Total: @Model.DetallesCarrito.Sum(d => d.Subtotal).ToString("C")</strong>
    </div>

</body>
</html>
